body {
    font-family: sans-serif;
    user-select: none;
}

#graphs-wrapper {
    display: flex;
    flex-wrap: wrap;
}

div.graph {
    overflow: hidden;
    border: 1px black solid;
    margin: 2px;
}
